*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.wrapper{
  width: 100%;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

main{
  width: 100%;
  height: calc(100vh - 90px);
}

/* main-nav */
#main-nav{
  display: flex;
  flex-direction: column;
  float: left;
  width: 230px;
  height: 100%;
  color: white;
  background-color: black;
}  

/* content */
#content{
  float: left;
  width: calc(100% - 230px);
  height: 100%;
  overflow-y: auto;
  background-color: #322e3a;
}

/* content-top */
#content .content-top{
  position: fixed;
  height: 90px;
  width: calc(100% - 230px);
  line-height: 90px;
  text-align: right;
  background-color: rgba(0,0,0,0.4);
}

#content .content-top button{
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  border: 1px solid white;
  border-radius: 25px;
  background-color: transparent;
  padding: 10px 35px;
  margin-right: 10px;
  cursor: pointer;
}

#content .content-top button:hover{
  transform: scale(1.2);
}

/* content-nav */
#content .content-nav{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: grey;
  margin-top: 90px;
}

#content .content-nav .content-nav-item {
  padding: 25px;
  font-size: 15px;
  font-weight: 700;
}

#content .content-nav .content-nav-item span {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

#content .content-nav .content-nav-item span:hover{
  color: white;
}

.green{
  border-bottom: 2px solid greenyellow;
}

/* footer */
footer{
  display: flex;
  justify-content: space-between;
  height: 90px;
  background-color: #282828;
}
