*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.wrapper{
  width: 100%;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

/* comuni */
.fc-white{
  color: white;
}

.fc-grey{
  color: grey;
}

.fw-400{
  font-weight: 400;
}

.fw-500{
  font-weight: 500;
}

.fw-600{
  font-weight: 600;
}

.fw-700{
  font-weight: 700;
}

.fs-10{
  font-size: 10px;
}

.fs-12{
  font-size: 12px;
}

.fs-14{
  font-size: 14px;
}

.fs-16{
  font-size: 16px;
}

.fs-18{
  font-size: 18px;
}

.fs-20{
  font-size: 20px;
}

.fs-30{
  font-size: 30px;
}

.text-uppercase{
  text-transform: uppercase;
}

.margin-left20{
  margin-left: 20px;
}

/* main */
main{
  width: 100%;
  height: calc(100vh - 90px);
}

/* main-nav */
#main-nav{
  float: left;
  width: 230px;
  height: 100%;
  overflow-y: auto;
  background-color: black;
}  

#main-nav .main-nav-top{
  display: flex;
  flex-direction: column;
  height: calc(100% - 80px);
  overflow-y: auto;
}

#main-nav .logo {
  width: 135px;
  margin: 20px;
}

#main-nav .logo-small{
  width: 30px;
  display: none;
}

/* main-nav action */
#main-nav .action ul img{
  width: 25px;
  padding-right: 5px;
}

#main-nav .action li{
  display: flex;
  align-items: center;
  margin: 15px 25px;
  cursor: pointer;
}

#main-nav .action span:hover{
  color: white;
}

/* main-nav playlist */
#main-nav .playlist{
  margin-top: 10px;
  margin-left: 25px;
}

#main-nav .playlist .plus-icon{
  display: flex;
  align-items: center;
}

#main-nav .playlist #plus{
  color: black;
  background-color: grey;
  width: 38px;
  height: 38px;
  padding: 10px;
  cursor: pointer;
  margin-right: 10px;
}

#main-nav .playlist #plus:hover{
  background-color: white;
}

#main-nav .playlist .plus-text{
  cursor: pointer;
}

#main-nav .playlist li{
  margin: 5px 0;
}

#main-nav .playlist li a{
  text-decoration: none;
}

#main-nav .playlist li a:hover{
  color: white;
}

#main-nav .playlist .plus-text:hover{
  color: white;
}

#main-nav .playlist .playlist-icon:hover{
  color: white;
}

#main-nav .playlist .playlist-icon {
  margin: 10px 0;
  cursor: pointer;
}

/* main-nav bottom */
#main-nav .main-nav-bottom{
  height: 80px;
  background-color: black;
}

#main-nav .main-nav-bottom .download{
  display: flex;
  align-items: center;
  cursor: pointer;
}

#main-nav .main-nav-bottom .download:hover{
  color: white;
}

#main-nav .main-nav-bottom img{
  width: 16px;
  margin-left: 25px;
  margin-right: 10px;
}

#main-nav .main-nav-bottom .author{
  display: flex;
  align-items: center;
  border-top: 1px solid grey;
  margin: 15px;
}

#main-nav .main-nav-bottom .author img{
  width: 28px;
  background-color: grey;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 10px;
}

/* content */
#content{
  float: left;
  width: calc(100% - 230px);
  height: 100%;
  overflow-y: auto;
  background-color: #322e3a;
}

/* content-top */
#content .content-top{
  position: fixed;
  height: 90px;
  width: calc(100% - 230px);
  line-height: 90px;
  text-align: right;
  background-color: rgba(0,0,0,0.4);
}

#content .content-top button{
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  border: 1px solid white;
  border-radius: 25px;
  background-color: transparent;
  padding: 10px 35px;
  margin-right: 20px;
  cursor: pointer;
}

#content .content-top button:hover{
  transform: scale(1.2);
}

/* content-nav */
#content .content-nav{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: grey;
  margin-top: 90px;
  margin-bottom: 35px;
}

#content .content-nav .content-nav-item {
  padding: 20px;
}

#content .content-nav .content-nav-item span {
  text-transform: uppercase;
  cursor: pointer;
}

#content .content-nav .content-nav-item span:hover{
  color: white;
}

.green{
  border-bottom: 2px solid greenyellow;
}

.green-left{
  border-left: 2px solid greenyellow;
  margin: 0;
  padding-left: 23px;
}

/* recently-creator-popular */
#recently, 
#creator,
#popular{
  width: 100%;
}

.cover-row{
  display: flex;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
}

.cover-box{
  width: calc(100% / 6);
  padding: 5px;
  text-align: center;
}

.cover-box img{
  width: 100%;
  margin-bottom: 10px;
  cursor: pointer;
}

.cover-box img:hover{
  filter: opacity(0.4);
}

.cover-box.circle img{
  border-radius: 50%;
}

/* footer */
footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  background-color: #282828;
}

.play-hover{
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
}


.play-hover i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
}

/* footer-left */
.footer-left{
  display: flex;
  align-items: center;
  width: 40%;
}

.footer-left .artist img{
  width: 45px;
  margin: 0 10px;
}

.footer-left span{
  cursor: pointer;
}

.footer-left span:hover{
  color: white;
  text-decoration: underline;
}

.footer-left-icon{
  margin-left: 35px;
}

.footer-left-icon i{
  padding: 5px;
  cursor: pointer;
}

.footer-left-icon i:hover{
  color: white;
}
/* footer-center */
footer .footer-center{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.player{
  display: flex;
  align-items: center;
}

.player-bar{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
}

.bar{
  width: 70%;
  height: 5px;
  background-color: grey;
  border-radius: 5px;
  margin: 15px;
}

.bar-white{
  width: 30%;
  height: 5px;
  border-radius: 5px;
  background-color: white;
}

.bar-white:hover{
  background-color: greenyellow;
}

footer .footer-center .player i,
footer .footer-right .volume i{
  padding: 12px;
  cursor: pointer;
}

/* footer-right */
.footer-right{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: 18%;
}

.volume{
  display: flex;
}

.footer-right .bar{
  min-width: 25%;
}

/* media */
@media all and (max-width:600px){
  #main-nav{
    width: 50px;
  }
  #main-nav .logo{
    display: none;
  }
  #main-nav .logo-small{
    display: block
  }    
  #content{
    width: calc(100% - 50px);
  }
  #content .content-top{
    width: calc(100% - 50px);
  }
  .cover-box{
    width: 50%;
    background-color: greenyellow;
  }
}


@media all and (max-width:992px){
  .cover-row{
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .cover-box{
    width: calc(100% / 4);
  }
}