*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.wrapper{
  width: 100%;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

/* comuni */
.fc-white{
  color: white;
}

.fc-grey{
  color: grey;
}

.fw-400{
  font-weight: 400;
}

.fw-500{
  font-weight: 500;
}

.fw-600{
  font-weight: 600;
}

.fw-700{
  font-weight: 700;
}

.fs-10{
  font-size: 10px;
}

.fs-12{
  font-size: 12px;
}

.fs-14{
  font-size: 14px;
}

.fs-18{
  font-size: 18px;
}

.fs-20{
  font-size: 20px;
}

.text-uppercase{
  text-transform: uppercase;
}

/* main */
main{
  width: 100%;
  height: calc(100vh - 90px);
}

/* main-nav */
#main-nav{
  float: left;
  width: 230px;
  height: 100%;
  overflow-y: auto;
  background-color: black;
}  

#main-nav .main-nav-top{
  display: flex;
  flex-direction: column;
  height: calc(100% - 80px);
}

#main-nav .logo {
  width: 135px;
  margin: 20px;
}

#main-nav .logo-small{
  width: 30px;
  display: none;
}

#main-nav .action .nav-action {
  display: flex;
  align-items: center;
  margin: 15px 25px;
  cursor: pointer;
}

#main-nav .action .nav-action:hover{
  color: white;
}

#main-nav .action .nav-action img{
  width: 25px;
  margin-right: 5px;
}

#main-nav .playlist{
  margin-top: 30px;
  margin-left: 25px;
}

#main-nav .playlist .plus-icon{
  display: flex;
  align-items: center;
}

#main-nav .playlist #plus{
  color: black;
  background-color: grey;
  width: 38px;
  height: 38px;
  padding: 10px;
  cursor: pointer;
  margin-right: 10px;
}

#main-nav .playlist #plus:hover{
  background-color: white;
}

#main-nav .playlist .plus-text{
  cursor: pointer;
}

#main-nav .playlist .plus-text:hover{
  color: white;
}

#main-nav .playlist .playlist-icon {
  margin: 15px 0;
  cursor: pointer;
}

#main-nav .playlist .playlist-icon:hover{
  color: white;
}

#main-nav .main-nav-bottom{
  height: 80px;
  background-color: black;
}

#main-nav .main-nav-bottom .download{
  display: flex;
  align-items: center;
  cursor: pointer;
}

#main-nav .main-nav-bottom .download:hover{
  color: white;
}

#main-nav .main-nav-bottom img{
  width: 16px;
  margin-left: 25px;
  margin-right: 10px;
}

#main-nav .main-nav-bottom .author{
  display: flex;
  align-items: center;
  border-top: 1px solid grey;
  margin: 15px;
}

#main-nav .main-nav-bottom .author img{
  width: 28px;
  background-color: grey;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 10px;
}

/* content */
#content{
  float: left;
  width: calc(100% - 230px);
  height: 100%;
  overflow-y: auto;
  background-color: #322e3a;
}

/* content-top */
#content .content-top{
  position: fixed;
  height: 90px;
  width: calc(100% - 230px);
  line-height: 90px;
  text-align: right;
  background-color: rgba(0,0,0,0.4);
}

#content .content-top button{
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  border: 1px solid white;
  border-radius: 25px;
  background-color: transparent;
  padding: 10px 35px;
  margin-right: 10px;
  cursor: pointer;
}

#content .content-top button:hover{
  transform: scale(1.2);
}

/* content-nav */
#content .content-nav{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: grey;
  margin-top: 90px;
}

#content .content-nav .content-nav-item {
  padding: 25px;
  font-size: 15px;
  font-weight: 700;
}

#content .content-nav .content-nav-item span {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

#content .content-nav .content-nav-item span:hover{
  color: white;
}

.green{
  border-bottom: 2px solid greenyellow;
}

/* footer */
footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  background-color: #282828;
}

.footer-left{
  display: flex;
  align-items: center;
}

.footer-left .artist img{
  width: 45px;
  margin: 0 10px;
}

.footer-left span{
  cursor: pointer;
}

.footer-left span:hover{
  color: white;
  text-decoration: underline;
}

.footer-left-icon{
  margin-left: 35px;
}

.footer-left-icon i{
  padding: 5px;
  cursor: pointer;
}

.footer-left-icon i:hover{
  color: white;
}

/* media */
@media all and (max-width:600px){
  #main-nav{
    width: 50px;
  }
  #main-nav .logo{
    display: none;
  }
  #main-nav .logo-small{
    display: block
  }      
  #content{
    width: calc(100% - 50px);
  }
  #content .content-top{
    width: calc(100% - 50px);
  }
}